@import url("/Artwork/Buffalo-River-Aviation/Grava/stylesheet.css");

:root {
  --white: #ffffff;
  --gold: #cc932f;
  --blue: #142a4a;

  --font: "Grava";
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font);
  /* font-size: 1vw; */
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* navbar */

.header {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: var(--gold);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.icon {
  margin-left: 6rem;
  height: 2rem;
  visibility: hidden;
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.25);
}

.nav {
  display: flex;
  width: 40%;
  /* border: 1px solid white; */
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
  /* border: 1px solid #cc932f; */
}

.nav-list li {
  letter-spacing: 0.25rem;
  padding: 0.2rem;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 0 var(--gold);
  transition: all 0.5s ease-in-out;
}

.nav-list li:hover {
  transform: scale(1.1);
  color: var(--blue);
  box-shadow: inset 0rem 0 8rem 0 var(--gold);
}

/* top photo */

main {
  width: 100%;
}

.intro {
  height: 65vh;
  background-image: url(/Photos/clouds.jpg);
  background-size: 100% 100%;
  position: relative;
}

/* .intro img {
  height: 100%;
  width: 100%;
} */

.mission {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -6%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25rem;
  color: var(--blue);
}

.mission img {
  height: 60vh;
  max-width: 100%;
}

.mission h3 {
  position: absolute;
  bottom: 0;
}

/* main about content */

.about {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  letter-spacing: 0.25rem;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #142a4a; */
}

.about-us h1 {
  border-bottom: 2.5px solid var(--blue);
  margin-bottom: 5rem;
}

.about-content {
  display: flex;
  align-items: center;
  width: 50%;
  /* border: 1px solid #142a4a; */
  /* padding: 2rem; */
}

.about-content p {
  padding: 2rem;
}

.from-left {
  transform: translateX(-50%);
  opacity: 0.25;
}

.from-right {
  transform: translateX(50%);
  opacity: 0.25;
}

.about-us img {
  height: 35vh;
  max-width: 100%;
  box-shadow: 0px 0px 10px -2px var(--blue);
}

.from-left,
.from-right {
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}

.from-left.appear,
.from-right.appear {
  opacity: 1;
  transform: translateX(0);
}

/* .about-us img {
  
  height: 20rem;
} */

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(20, 42, 74, 0.8) 0%,
    rgba(20, 42, 74, 0.9) 65%,
    rgba(20, 42, 74, 1) 100%
  );
  color: var(--white);
  width: 100%;
}

.link-content {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--white);
  margin-bottom: 1rem;
  border: 1px solid white;
}

.links {
  width: 20%;
  letter-spacing: 0.1rem;
  color: #cc932f;
  border: 1px solid white;
}

.links li {
  text-align: left;
  align-self: flex-start;
  list-style: none;
  height: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.stamp img {
  width: auto;
  height: 35vh;
  border: 1px solid white;
}

.social {
  width: 20%;
  letter-spacing: 0.1rem;
}

.social li {
  text-align: right;
  align-self: flex-end;
  list-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.copyright {
  letter-spacing: 0.25rem;
  font-size: 0.5rem;
  margin-bottom: 0.5rem;
}
