@import url("/Assets/Grava/stylesheet.css");

:root {
  --white: #ffffff;
  --gold: #cc932f;
  --blue: #142a4a;

  --font: "Grava";

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-300: 0.5em;
  --fs-400: 0.75em;
  --fs-450: 0.85em;
  --fs-500: 1em;
  --fs-550: 1.25em;
  --fs-600: 1.5em;
  --fs-700: 2em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* page fade-in */

body {
  animation: fadeInAnimation ease-in 0.25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

/* 480px <> 1280px navbar */

.header {
  position: fixed;
  top: 0%;
  width: 100%;
  padding: 0.75rem;
  background: transparent;
  color: var(--gold);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.nav {
  width: 100%;
}

.icon {
  display: none;
}

.nav-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  text-align: center;
}

.nav-list li {
  letter-spacing: 0.25rem;
  padding: 0.2rem;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 0 var(--gold);
  transition: all 0.5s ease-in-out;
}

/* < 480px navbar */

@media (max-width: 30em) {
  .header {
    background: var(--blue);
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-list li {
    padding: 0.5rem;
  }
}

/* > 1280px navbar */

@media (min-width: 80em) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon {
    margin-left: 6rem;
    height: 2.25rem;
    transition: all 0.3s ease-in-out;
  }

  .icon:hover {
    transform: scale(1.25);
  }

  .nav {
    width: 40%;
  }

  .nav-list {
    display: flex;
    justify-content: space-evenly;
  }

  .nav-list li {
    font-size: var(--fs-550);
    letter-spacing: 0.5rem;
  }

  .nav-list li:hover,
  .nav-list li:focus {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--blue);
    box-shadow: inset 0rem 0 8rem 0 var(--gold);
  }
}

/* 480px <> 1280px hero */

.hero,
.services-hero,
.contact-hero {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  background-size: 100% 100%;
  background-image: url("/Assets/Photos/clouds.jpg");
}

.services-hero {
  background-image: url("/Assets/Photos/runwayaproach.jpeg");
}

.contact-hero {
  background-image: url("/Assets/Photos/mtnclouds\(cropped\).jpg");
}

.mission,
.services-mission,
.contact-mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.25rem;
  color: var(--blue);
  width: 45rem;
  font-size: var(--fs-550);
  font-weight: var(--fw-bold);
  position: relative;
}

.services-mission h3 {
  position: absolute;
  top: 72%;
}

.contact-mission h3 {
  position: absolute;
  top: 90%;
}

/* < 480px hero */
@media (max-width: 30em) {
  .hero,
  .services-hero,
  .contact-hero {
    margin-top: 9rem;
    padding-bottom: 0rem;
  }

  .services-hero,
  .contact-hero {
    padding-bottom: 4rem;
  }

  .mission h3,
  .services-mission h3,
  .contact-mission h3 {
    text-align: center;
  }
}

/* > 1280px hero */

@media (min-width: 80em) {
  .hero,
  .services-hero,
  .contact-hero {
    padding-bottom: 3.65rem;
  }

  .contact-hero {
    background-image: url("/Assets/Photos/mtnclouds.jpeg");
  }

  .mission,
  .services-mission,
  .contact-mission {
    margin-top: -2rem;
    font-size: var(--fs-600);
  }

  .services-mission h3 {
    top: 75%;
  }

  .contact-mission h3 {
    top: 94%;
  }
}

/* main about content */

.about-info {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  letter-spacing: 0.25rem;
  overflow: hidden;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-us h1 {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  border-bottom: 2.5px solid var(--blue);
  margin-bottom: 2rem;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem;
}

.about-content p {
  padding: 1rem;
  width: 30%;
  box-shadow: inset 0px 0px 5px -2px var(--blue), 0px 0px 10px -2px var(--blue);
  border-radius: 0.5em;
}

.from-left {
  transform: translateX(-50%);
  opacity: 0.25;
}

.from-right {
  transform: translateX(50%);
  opacity: 0.25;
}

.about-us img {
  height: 28vh;
  max-width: 100%;
  box-shadow: 0px 0px 10px -2px var(--blue);
}

.from-left,
.from-right {
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}

.from-left.appear,
.from-right.appear {
  opacity: 1;
  transform: translateX(0);
}

/* < 480px hero */

@media (max-width: 35em) {
  .about-content {
    flex-direction: column;
    justify-content: center;
  }

  .about-us p {
    width: 80%;
  }

  .from-right {
    margin-top: 2rem;
  }

  .about-us img {
    width: 90%;
  }
}

/* > 1280px about content */

@media (min-width: 80em) {
  .about-info {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .about-content {
    width: 60vw;
  }

  .about-content p {
    width: 30%;
  }

  .about-us img {
    height: 35vh;
  }
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(20, 42, 74, 0.8) 0%,
    rgba(20, 42, 74, 0.9) 65%,
    rgba(20, 42, 74, 1) 100%
  );
  color: var(--white);
  width: 100%;
}

.link-content {
  display: flex;
  /* grid-auto-flow: column;
    grid-auto-columns: 1fr; */
  width: 85%;
  border-bottom: 1.5px solid var(--white);
  margin-bottom: 1rem;
  /* outline: 1px solid white; */
}

.link-content a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--gold),
    var(--gold) 50%,
    var(--white) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.5s ease-in-out;
}

.link-content a:hover {
  background-position: 0 100%;
}

.footer-nav {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: 0.1rem;
  color: var(--white);
}

.footer-nav li {
  list-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.stamp {
  flex-basis: 100%;
  margin-right: -4rem;
  margin-left: -4rem;
  width: 30rem;
}

.right-column {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.email {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding: 2rem 0rem;

  /* outline: 1px solid white; */
}

.email-input {
  width: 85%;
  border: 0;
  border-radius: 0.25rem;
  letter-spacing: 0.25rem;
  font-size: var(--fs-450);
  font-weight: var(--fw-bold);
  text-align: center;
  padding: 0.25rem 0rem;
  background-color: var(--white);
  color: var(--blue);
  margin-bottom: 1rem;
}

.email-input:focus {
  width: 100%;
  outline: 2px solid var(--blue);
  box-shadow: 0px 10px 20px var(--blue);
}

.submit-email {
  cursor: pointer;
  padding: 1.25em 1.25em;
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  line-height: 1;
  color: var(--gold);
  border: 0;
  border-radius: 0.25rem;
  letter-spacing: 0.25rem;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 var(--gold);
  transition: all 0.5s ease-in-out;
}

.submit-email:hover,
.submit-email:focus-visible {
  border: 0;
  color: var(--blue);
  box-shadow: inset 0rem 0 8rem 0 var(--gold);
}

/* .social {
  width: 100%;
} */

.social li {
  text-align: right;
  list-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.social i {
  font-size: 1.5rem;
}

.copyright {
  letter-spacing: 0.25rem;
  font-size: var(--fs-300);
  margin-bottom: 0.5rem;
}

@media (max-width: 42em) {
  .link-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-nav {
    width: 100%;
    justify-content: center;
    text-align: center;
    border-bottom: 1.5px solid var(--white);
  }

  .stamp {
    width: 20rem;
    margin-top: -2.5rem;
    margin-bottom: -2.5rem;
  }

  .email-input {
    width: 100%;
  }

  .social li {
    text-align: center;
  }
}

@media (min-width: 80em) {
  .link-content {
    width: 60%;
  }

  .stamp {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .email-input {
    width: 100%;
  }
}
