@font-face {
    font-family: 'Grava Display';
    src: url('GravaDisplay-ExtraLight.eot');
    src: local('Grava Display ExtraLight'), local('GravaDisplay-ExtraLight'),
        url('GravaDisplay-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-ExtraLight.woff2') format('woff2'),
        url('GravaDisplay-ExtraLight.woff') format('woff'),
        url('GravaDisplay-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-Thin.eot');
    src: local('Grava Thin'), local('Grava-Thin'),
        url('Grava-Thin.eot?#iefix') format('embedded-opentype'),
        url('Grava-Thin.woff2') format('woff2'),
        url('Grava-Thin.woff') format('woff'),
        url('Grava-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Grava Ultra';
    src: url('Grava-Ultra.eot');
    src: local('Grava Ultra'), local('Grava-Ultra'),
        url('Grava-Ultra.eot?#iefix') format('embedded-opentype'),
        url('Grava-Ultra.woff2') format('woff2'),
        url('Grava-Ultra.woff') format('woff'),
        url('Grava-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-SemiBold.eot');
    src: local('Grava SemiBold'), local('Grava-SemiBold'),
        url('Grava-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Grava-SemiBold.woff2') format('woff2'),
        url('Grava-SemiBold.woff') format('woff'),
        url('Grava-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-Light.eot');
    src: local('Grava Light'), local('Grava-Light'),
        url('Grava-Light.eot?#iefix') format('embedded-opentype'),
        url('Grava-Light.woff2') format('woff2'),
        url('Grava-Light.woff') format('woff'),
        url('Grava-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-MediumOblique.eot');
    src: local('Grava Medium Oblique'), local('Grava-MediumOblique'),
        url('Grava-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('Grava-MediumOblique.woff2') format('woff2'),
        url('Grava-MediumOblique.woff') format('woff'),
        url('Grava-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Grava Display';
    src: url('Grava-DisplayBoldOblique.eot');
    src: local('Grava Display Bold Oblique'), local('Grava-DisplayBoldOblique'),
        url('Grava-DisplayBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('Grava-DisplayBoldOblique.woff2') format('woff2'),
        url('Grava-DisplayBoldOblique.woff') format('woff'),
        url('Grava-DisplayBoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-Bold.eot');
    src: local('Grava Bold'), local('Grava-Bold'),
        url('Grava-Bold.eot?#iefix') format('embedded-opentype'),
        url('Grava-Bold.woff2') format('woff2'),
        url('Grava-Bold.woff') format('woff'),
        url('Grava-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-SemiBoldOblique.eot');
    src: local('Grava SemiBold Oblique'), local('Grava-SemiBoldOblique'),
        url('Grava-SemiBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('Grava-SemiBoldOblique.woff2') format('woff2'),
        url('Grava-SemiBoldOblique.woff') format('woff'),
        url('Grava-SemiBoldOblique.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-Roman.eot');
    src: local('Grava Roman'), local('Grava-Roman'),
        url('Grava-Roman.eot?#iefix') format('embedded-opentype'),
        url('Grava-Roman.woff2') format('woff2'),
        url('Grava-Roman.woff') format('woff'),
        url('Grava-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grava Display';
    src: url('GravaDisplay-ThinOblique.eot');
    src: local('Grava Display Thin Oblique'), local('GravaDisplay-ThinOblique'),
        url('GravaDisplay-ThinOblique.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-ThinOblique.woff2') format('woff2'),
        url('GravaDisplay-ThinOblique.woff') format('woff'),
        url('GravaDisplay-ThinOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Grava Display';
    src: url('GravaDisplay-Thin.eot');
    src: local('Grava Display Thin'), local('GravaDisplay-Thin'),
        url('GravaDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-Thin.woff2') format('woff2'),
        url('GravaDisplay-Thin.woff') format('woff'),
        url('GravaDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-LightOblique.eot');
    src: local('Grava Light Oblique'), local('Grava-LightOblique'),
        url('Grava-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('Grava-LightOblique.woff2') format('woff2'),
        url('Grava-LightOblique.woff') format('woff'),
        url('Grava-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Grava Display';
    src: url('GravaDisplay-SemiBold.eot');
    src: local('Grava Display SemiBold'), local('GravaDisplay-SemiBold'),
        url('GravaDisplay-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-SemiBold.woff2') format('woff2'),
        url('GravaDisplay-SemiBold.woff') format('woff'),
        url('GravaDisplay-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-BlackOblique.eot');
    src: local('Grava Black Oblique'), local('Grava-BlackOblique'),
        url('Grava-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('Grava-BlackOblique.woff2') format('woff2'),
        url('Grava-BlackOblique.woff') format('woff'),
        url('Grava-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Grava Display';
    src: url('GravaDisplay-Medium.eot');
    src: local('Grava Display Medium'), local('GravaDisplay-Medium'),
        url('GravaDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-Medium.woff2') format('woff2'),
        url('GravaDisplay-Medium.woff') format('woff'),
        url('GravaDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Grava Ultra';
    src: url('Grava-UltraOblique.eot');
    src: local('Grava Ultra Oblique'), local('Grava-UltraOblique'),
        url('Grava-UltraOblique.eot?#iefix') format('embedded-opentype'),
        url('Grava-UltraOblique.woff2') format('woff2'),
        url('Grava-UltraOblique.woff') format('woff'),
        url('Grava-UltraOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-Black.eot');
    src: local('Grava Black'), local('Grava-Black'),
        url('Grava-Black.eot?#iefix') format('embedded-opentype'),
        url('Grava-Black.woff2') format('woff2'),
        url('Grava-Black.woff') format('woff'),
        url('Grava-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Grava Display';
    src: url('GravaDisplay-Bold.eot');
    src: local('Grava Display Bold'), local('GravaDisplay-Bold'),
        url('GravaDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-Bold.woff2') format('woff2'),
        url('GravaDisplay-Bold.woff') format('woff'),
        url('GravaDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Grava Normal';
    src: url('Grava-NormalOblique.eot');
    src: local('Grava Normal Oblique'), local('Grava-NormalOblique'),
        url('Grava-NormalOblique.eot?#iefix') format('embedded-opentype'),
        url('Grava-NormalOblique.woff2') format('woff2'),
        url('Grava-NormalOblique.woff') format('woff'),
        url('Grava-NormalOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-BoldOblique.eot');
    src: local('Grava Bold Oblique'), local('Grava-BoldOblique'),
        url('Grava-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('Grava-BoldOblique.woff2') format('woff2'),
        url('Grava-BoldOblique.woff') format('woff'),
        url('Grava-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Grava Display';
    src: url('GravaDisplay-SemiBoldOblique.eot');
    src: local('Grava Display SemiBold Oblique'), local('GravaDisplay-SemiBoldOblique'),
        url('GravaDisplay-SemiBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-SemiBoldOblique.woff2') format('woff2'),
        url('GravaDisplay-SemiBoldOblique.woff') format('woff'),
        url('GravaDisplay-SemiBoldOblique.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Grava Display Ultra';
    src: url('GravaDisplay-Ultra.eot');
    src: local('Grava Display Ultra'), local('GravaDisplay-Ultra'),
        url('GravaDisplay-Ultra.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-Ultra.woff2') format('woff2'),
        url('GravaDisplay-Ultra.woff') format('woff'),
        url('GravaDisplay-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grava Display';
    src: url('GravaDisplay-Oblique.eot');
    src: local('Grava Display Oblique'), local('GravaDisplay-Oblique'),
        url('GravaDisplay-Oblique.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-Oblique.woff2') format('woff2'),
        url('GravaDisplay-Oblique.woff') format('woff'),
        url('GravaDisplay-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Grava Display';
    src: url('GravaDisplay-ExtraLightOblique.eot');
    src: local('Grava Display ExtraLight Oblique'), local('GravaDisplay-ExtraLightOblique'),
        url('GravaDisplay-ExtraLightOblique.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-ExtraLightOblique.woff2') format('woff2'),
        url('GravaDisplay-ExtraLightOblique.woff') format('woff'),
        url('GravaDisplay-ExtraLightOblique.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Grava Display Ultra';
    src: url('GravaDisplay-UltraOblique.eot');
    src: local('Grava Display Ultra Oblique'), local('GravaDisplay-UltraOblique'),
        url('GravaDisplay-UltraOblique.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-UltraOblique.woff2') format('woff2'),
        url('GravaDisplay-UltraOblique.woff') format('woff'),
        url('GravaDisplay-UltraOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Grava Display';
    src: url('GravaDisplay-MediumOblique.eot');
    src: local('Grava Display Medium Oblique'), local('GravaDisplay-MediumOblique'),
        url('GravaDisplay-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-MediumOblique.woff2') format('woff2'),
        url('GravaDisplay-MediumOblique.woff') format('woff'),
        url('GravaDisplay-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-ThinOblique.eot');
    src: local('Grava Thin Oblique'), local('Grava-ThinOblique'),
        url('Grava-ThinOblique.eot?#iefix') format('embedded-opentype'),
        url('Grava-ThinOblique.woff2') format('woff2'),
        url('Grava-ThinOblique.woff') format('woff'),
        url('Grava-ThinOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Grava Display';
    src: url('GravaDisplay-Light.eot');
    src: local('Grava Display Light'), local('GravaDisplay-Light'),
        url('GravaDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-Light.woff2') format('woff2'),
        url('GravaDisplay-Light.woff') format('woff'),
        url('GravaDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Grava Display';
    src: url('GravaDisplay-Black.eot');
    src: local('Grava Display Black'), local('GravaDisplay-Black'),
        url('GravaDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-Black.woff2') format('woff2'),
        url('GravaDisplay-Black.woff') format('woff'),
        url('GravaDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-ExtraLight.eot');
    src: local('Grava ExtraLight'), local('Grava-ExtraLight'),
        url('Grava-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Grava-ExtraLight.woff2') format('woff2'),
        url('Grava-ExtraLight.woff') format('woff'),
        url('Grava-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Grava Display Normal';
    src: url('GravaDisplay-Normal.eot');
    src: local('Grava Display Normal'), local('GravaDisplay-Normal'),
        url('GravaDisplay-Normal.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-Normal.woff2') format('woff2'),
        url('GravaDisplay-Normal.woff') format('woff'),
        url('GravaDisplay-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-ExtraLightOblique.eot');
    src: local('Grava ExtraLight Oblique'), local('Grava-ExtraLightOblique'),
        url('Grava-ExtraLightOblique.eot?#iefix') format('embedded-opentype'),
        url('Grava-ExtraLightOblique.woff2') format('woff2'),
        url('Grava-ExtraLightOblique.woff') format('woff'),
        url('Grava-ExtraLightOblique.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Grava Display';
    src: url('GravaDisplay-LightOblique.eot');
    src: local('Grava Display Light Oblique'), local('GravaDisplay-LightOblique'),
        url('GravaDisplay-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-LightOblique.woff2') format('woff2'),
        url('GravaDisplay-LightOblique.woff') format('woff'),
        url('GravaDisplay-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Grava Normal';
    src: url('Grava-Normal.eot');
    src: local('Grava Normal'), local('Grava-Normal'),
        url('Grava-Normal.eot?#iefix') format('embedded-opentype'),
        url('Grava-Normal.woff2') format('woff2'),
        url('Grava-Normal.woff') format('woff'),
        url('Grava-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grava Display Normal';
    src: url('GravaDisplay-NormalOblique.eot');
    src: local('Grava Display Normal Oblique'), local('GravaDisplay-NormalOblique'),
        url('GravaDisplay-NormalOblique.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-NormalOblique.woff2') format('woff2'),
        url('GravaDisplay-NormalOblique.woff') format('woff'),
        url('GravaDisplay-NormalOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-Oblique.eot');
    src: local('Grava Oblique'), local('Grava-Oblique'),
        url('Grava-Oblique.eot?#iefix') format('embedded-opentype'),
        url('Grava-Oblique.woff2') format('woff2'),
        url('Grava-Oblique.woff') format('woff'),
        url('Grava-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Grava';
    src: url('Grava-Medium.eot');
    src: local('Grava Medium'), local('Grava-Medium'),
        url('Grava-Medium.eot?#iefix') format('embedded-opentype'),
        url('Grava-Medium.woff2') format('woff2'),
        url('Grava-Medium.woff') format('woff'),
        url('Grava-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Grava Display';
    src: url('GravaDisplay-BlackOblique.eot');
    src: local('Grava Display Black Oblique'), local('GravaDisplay-BlackOblique'),
        url('GravaDisplay-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-BlackOblique.woff2') format('woff2'),
        url('GravaDisplay-BlackOblique.woff') format('woff'),
        url('GravaDisplay-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Grava Display';
    src: url('GravaDisplay-Roman.eot');
    src: local('Grava Display Roman'), local('GravaDisplay-Roman'),
        url('GravaDisplay-Roman.eot?#iefix') format('embedded-opentype'),
        url('GravaDisplay-Roman.woff2') format('woff2'),
        url('GravaDisplay-Roman.woff') format('woff'),
        url('GravaDisplay-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

